
<h2>Breaking Bad Seasons</h2>

<table>
  <% seasons.forEach((season) => { %>
    <tr>
        <td>
            <a href="/bbseasons/<%= season %>">SEASON NUMBER <%= season %></a>
        </td>
    </tr>
  <% }) %>
</table>
