<h2>Better Call Saul Seasons</h2>

<table>
  <% seasons.forEach((season) => { %>
    <tr>
        <td>
            <a href="/saulseasons/<%= season %>">SEASON NUMBER <%= season %></a>
        </td>
    </tr>
  <% }) %>
</table>